.place__image {
    grid-area: image;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    width: 100%;
    min-width: 320px;
    align-items: stretch;
    justify-items: stretch;  
}

@media screen and (min-width: 320px) {
    .place__image { 
        max-width: 460px;
    }
}

@media screen and (min-width: 768px) {
    .place__image {
        align-self: start;
        max-width: 340px;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        max-width: 460px;
    }
}
