.info__title {
    margin: 0 0 40px 0;
    padding: 0;
    max-width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .info__title {
        margin: 0 0 39px 0;
        max-width: 720px;         
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width: 1280px) {
    .info__title {
        margin: 0 0 39px 1px;        
    }
}