.photo-grid__item_pic_1 {
    background-image: url('../../../../images/320/photo-grid__item_1.png');
}

.photo-grid__item_pic_2 {
    background-image: url('../../../../images/320/photo-grid__item_2.png');
}

.photo-grid__item_pic_3 {
    background-image: url('../../../../images/320/photo-grid__item_3.png');
}

.photo-grid__item_pic_4 {
    background-image: url('../../../../images/320/photo-grid__item_4.png');
}

.photo-grid__item_pic_5 {
    background-image: url('../../../../images/320/photo-grid__item_5.png');
}

.photo-grid__item_pic_6 {
    background-image: url('../../../../images/320/photo-grid__item_6.png');
}

.photo-grid__item_pic_7 {
    background-image: url('../../../../images/320/photo-grid__item_7.png');
}

.photo-grid__item_pic_8 {
    background-image: url('../../../../images/320/photo-grid__item_8.png');
}

.photo-grid__item_pic_9 {
    background-image: url('../../../../images/320/photo-grid__item_9.png');
}

.photo-grid__item_pic_10 {
    background-image: url('../../../../images/320/photo-grid__item_10.png');
}

.photo-grid__item_pic_11 {
    background-image: url('../../../../images/320/photo-grid__item_11.png');
}

.photo-grid__item_pic_12 {
    background-image: url('../../../../images/320/photo-grid__item_12.png');
}




@media screen and (min-width: 768px) {

    

    .photo-grid__item_pic_1 {
        background-image: url('../../../../images/768/photo-grid__item_1.png');
    }

    .photo-grid__item_pic_2 {
        background-image: url('../../../../images/768/photo-grid__item_2.png');
    }

    .photo-grid__item_pic_3 {
        background-image: url('../../../../images/768/photo-grid__item_3.png');
    }

    .photo-grid__item_pic_4 {
        background-image: url('../../../../images/768/photo-grid__item_4.png');
    }

    .photo-grid__item_pic_5 {
        background-image: url('../../../../images/768/photo-grid__item_5.png');
    }

    .photo-grid__item_pic_6 {
        background-image: url('../../../../images/768/photo-grid__item_6.png');
    }

    .photo-grid__item_pic_7 {
        background-image: url('../../../../images/768/photo-grid__item_7.png');
    }

    .photo-grid__item_pic_8 {
        background-image: url('../../../../images/768/photo-grid__item_8.png');
    }

    .photo-grid__item_pic_9 {
        background-image: url('../../../../images/768/photo-grid__item_9.png');
    }

    .photo-grid__item_pic_10 {
        background-image: url('../../../../images/768/photo-grid__item_10.png');
    }

    .photo-grid__item_pic_11 {
        background-image: url('../../../../images/768/photo-grid__item_11.png');
    }

    .photo-grid__item_pic_12 {
        background-image: url('../../../../images/768/photo-grid__item_12.png');
    }
}



@media screen and (min-width: 1024px) {
    
    .photo-grid__item_pic_1 {
        background-image: url('../../../../images/1024/photo-grid__item_1.png');
    }

    .photo-grid__item_pic_2 {
        background-image: url('../../../../images/1024/photo-grid__item_2.png');
    }

    .photo-grid__item_pic_3 {
        background-image: url('../../../../images/1024/photo-grid__item_3.png');
    }

    .photo-grid__item_pic_4 {
        background-image: url('../../../../images/1024/photo-grid__item_4.png');
    }

    .photo-grid__item_pic_5 {
        background-image: url('../../../../images/1024/photo-grid__item_5.png');
    }

    .photo-grid__item_pic_6 {
        background-image: url('../../../../images/1024/photo-grid__item_6.png');
    }

    .photo-grid__item_pic_7 {
        background-image: url('../../../../images/1024/photo-grid__item_7.png');
    }

    .photo-grid__item_pic_8 {
        background-image: url('../../../../images/1024/photo-grid__item_8.png');
    }

    .photo-grid__item_pic_9 {
        background-image: url('../../../../images/1024/photo-grid__item_9.png');
    }

    .photo-grid__item_pic_10 {
        background-image: url('../../../../images/1024/photo-grid__item_10.png');
    }

    .photo-grid__item_pic_11 {
        background-image: url('../../../../images/1024/photo-grid__item_11.png');
    }

    .photo-grid__item_pic_12 {
        background-image: url('../../../../images/1024/photo-grid__item_12.png');
    }
}


@media screen and (min-width: 1280px) {
    .photo-grid__item_pic_1 {
        background-image: url('../../../../images/1280/photo-grid__item_1.png');
    }

    .photo-grid__item_pic_2 {
        background-image: url('../../../../images/1280/photo-grid__item_2.png');
    }

    .photo-grid__item_pic_3 {
        background-image: url('../../../../images/1280/photo-grid__item_3.png');
    }

    .photo-grid__item_pic_4 {
        background-image: url('../../../../images/1280/photo-grid__item_4.png');
    }

    .photo-grid__item_pic_5 {
        background-image: url('../../../../images/1280/photo-grid__item_5.png');
    }

    .photo-grid__item_pic_6 {
        background-image: url('../../../../images/1280/photo-grid__item_6.png');
    }

    .photo-grid__item_pic_7 {
        background-image: url('../../../../images/1280/photo-grid__item_7.png');
    }

    .photo-grid__item_pic_8 {
        background-image: url('../../../../images/1280/photo-grid__item_8.png');
    }

    .photo-grid__item_pic_9 {
        background-image: url('../../../../images/1280/photo-grid__item_9.png');
    }

    .photo-grid__item_pic_10 {
        background-image: url('../../../../images/1280/photo-grid__item_10.png');
    }

    .photo-grid__item_pic_11 {
        background-image: url('../../../../images/1280/photo-grid__item_11.png');
    }

    .photo-grid__item_pic_12 {
        background-image: url('../../../../images/1280/photo-grid__item_12.png');
    }
}