.place__website {
    grid-area: website;
    margin: 32px 16px;
    justify-self: start;
    justify-items:end;    
    align-self: end;
}


@media screen and (min-width: 768px) {
    .place__website {
        margin: 0;
    }
}